@tailwind utilities;

/* Global styles (optional customizations) */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
